.form-container{
    max-width: 350px;
    padding: 1rem;
}
html,body{
    height: 100%;
}
.h1{
    color: #ffffff;

    /*border-top: 8px solid #ffffff;
    border-radius: 20px;
    border-bottom: 10px solid #ffffff;
    border-radius: 20px;*/
    font-size: 50px;

    margin-bottom: 75px;
    display: flex;
    justify-content: center;
}