:root{
    --color-pink: #D431D4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/bg-modelos.png);
    background-size: cover;
    background-attachment: fixed;
}

.container-header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

    padding: 10px;
    height: 15vw;
}

.nav-bar{
    display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 20px;
	background-color: #D431D4;
	padding: 10px;
	border-radius: 15px;
	transition: 0.4s ease-in-out;
    width: 500px;
    height: 30px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-list li{
    float: left;
}

.nav-list li a{
    text-decoration: none;
	font-size: 25px;
	font-family: Impact, Haettenschweiler, sans-serif;
	color: black;
	transition: 0.2s ease-in-out;
    display: block;
    padding: 10px 11px;
}

.nav-list li a:hover{
    color: #fff;
    padding-top: 5px;
}

/*DESIGN DROPDOWN*/
.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 10%;
}

.dropdown-content a{
    display: none;
    color: black;
    background-color: #D431D4;
    text-align: center;
}

.dropdown-content a:hover{
    background-color: #e25ce2;
    padding: none;
}

.dropdown:hover .dropdown-content{ 
    display: block;
}

.car-type{
    display: inline-block;

    margin: 1rem;
    padding: 1rem;

    border: 6px solid var(--color-pink);
    border-radius: 1rem;

    background-color: rgb(204, 176, 204);
}

.car-type a{
    text-decoration: none;
}

.car-type img{
    width: 14rem;
    height: 10rem;
}

.car-type p,
.car-type button{
    font-size: 1rem;
    position: relative;
    bottom: 10px;
}

.car-type button{
    padding: 5px;

    background-color: var(--color-pink);
    border: 1px solid rgb(184, 45, 184);
    border-radius: 10px;

    color: white;

    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.car-type button:hover{
    transform: scale(1.5);
    background-color: rgb(165, 18, 165);
    color: white;
}

.container{
    text-align: center;
    margin: 2rem;
}

.footer-content{
    background-color: black;

    color: white;
    text-align: center;

    margin: 20px;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 0.875rem;
}

*::-webkit-scrollbar-track {
    background: #f1e9e9;
}

*::-webkit-scrollbar-thumb {
    background-color: #e25ce2;
    border-radius: 0.625rem;
    border: 0.1875rem solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #D431D4;
}